.main{
    display: grid;
    grid-template-columns:auto ;
    margin-left: 30px;

}

.main-img{
    border-radius: 20px;
    width: 100px;
    margin-top: 150px;
    border-radius: 20%;
    
}  

.main-text{
    border-radius: 20px;
    width: 100px;
    margin-top: 150px;
    border-radius: 20%;
    color:white ;
    
}
.container{
        
}  

/* .ad{
    background-color: aliceblue;
    height:100%;
    width:100px;
    margin-top: 150px;
    margin-left: 800px;
}   */

.discription 
    

.dis-text{ 
    color: rgb(236, 231, 216);
    border-radius: 30px;
}
     
